*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}

.containerAdmin {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 30px;
    gap: 25px;
}

.row {
    display: block;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.secondPart {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}  

.tableRoute {
    background-color: #F6F6F6;
    border-radius: 45px;
    width: 440px;
    border-collapse: collapse;
    border: transparent; 
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.18);
}


.secondPart {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}  

.tableRoute {
    background-color: #F6F6F6;
    border-radius: 45px;
    width: 440px;
    border-collapse: collapse;
    border: transparent; 
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.18);
}

.theadRoute {
    height: 40px;
    background-color: #D0E2E4;
    border: none;
}

.theadRoute tr:first-child th:first-child {
    border-top-left-radius: 45px; 
}

.theadRoute tr:first-child th:last-child {
    border-top-right-radius: 45px; 
}

.tableRoute th, .tableRoute td {
    padding: 10px;
    text-align: left;
    border: none; 
}



.tableRoute th {
    background-color: #D0E2E4;
    font-weight: bold;
    color: #045952;
}

.tableRoute tbody tr {
    display: table-row;
    cursor: pointer;
}

.tableRoute tbody td {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

.theadRoute tbody td:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    transition: transform 0.2s ease;
}

.tableRoute td, .tableRoute th {
    border: none; 
}

.tableRoute th:first-child {
    border-top-left-radius: 45px; 
}

.tableRoute th:last-child {
    border-top-right-radius: 45px; 
}

.tableRoute tr:last-child td:first-child {
    border-bottom-left-radius: 45px; 
}

.tableRoute tr:last-child td:last-child {
    border-bottom-right-radius: 45px; 
}

.tableRoute tbody tr:last-child td {
    padding-bottom: 15px;
}

.tableRoute td:last-child, .tableRoute th:last-child {
    padding-right: 30px; 
}
.tableRoute td:first-child, .tableRoute th:first-child {
    padding-left: 30px; 
}

.firstRowAdd{
    display: flex;
    padding: 20px;
    justify-content:center; 
    align-items: center; 
    width: 100%; 
}

.firstRowAdd p{
    padding-left: 590px;
    cursor: pointer;
}

.param{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.param h3{
    color: #045952;
    font-size: 14px;
    font-weight: bold;
}

.param input{
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 15px;
    width: 178px;
    outline: none;
}

.chooseLine{
    display: flex;
    gap: 17px;
}

.buttonMainPage{
    background-color: #045952;
    border-radius: 20px;
    padding: 9px 7px 9px 7px ;
    border: transparent;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    max-width: 235px;
    width: auto;
    box-sizing: border-box; 
}