.stationAndTime{
    display: flex;
    flex-direction: column;
    gap: 10px
}

.cancelBooking{
    padding: 10px;
    border: 2px solid #045952;
    border-radius: 10px;
    width: 120px;
    font-weight: bold;
    cursor: pointer;
}