.container {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 30px;
    gap: 25px;
}

.row {
    display: block;
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
}

.routes {
    flex-grow: 1; 
    text-align: center; 
    margin-left: -150px;
}

.stations {
    font-weight: bold;
    color: #045952;
    cursor: pointer;
    margin-bottom: -20px;
}

.secondPart {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}  

.tableRoute {
    background-color: #F6F6F6;
    border-radius: 45px;
    width: 440px;
    border-collapse: collapse;
    border: transparent; 
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.18);
}

.theadRoute {
    height: 40px;
    background-color: #D0E2E4;
    border: none;
}

.theadRoute tr:first-child th:first-child {
    border-top-left-radius: 45px; 
}

.theadRoute tr:first-child th:last-child {
    border-top-right-radius: 45px; 
}

th, td {
    padding: 10px;
    text-align: left;
    border: none; 
}

th {
    background-color: #D0E2E4;
    font-weight: bold;
    color: #045952;
}

tbody tr {
    display: table-row;
}

tbody td {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
}

tbody td:hover {
    cursor: pointer;
    background-color: #F5F5F5;
    transition: transform 0.2s ease;
}

.tableRoute td, .tableRoute th {
    border: none; 
}

.tableRoute th:first-child {
    border-top-left-radius: 45px; 
}

.tableRoute th:last-child {
    border-top-right-radius: 45px; 
}

.tableRoute tr:last-child td:first-child {
    border-bottom-left-radius: 45px; 
}

.tableRoute tr:last-child td:last-child {
    border-bottom-right-radius: 45px; 
}

tbody tr:last-child td {
    padding-bottom: 25px;
}

.tableRoute td, .tableRoute th {
    padding-left: 25px; 
}

.tableRoute td:last-child, .tableRoute th:last-child {
    padding-right: 25px; 
}

.rightPart{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.addToute{
    width: 650px;
    min-height: auto;
    background-color: #F6F6F6;
    border-radius: 45px;
    padding-bottom: 30px;
}

.firstRowAdd{
    display: flex;
    padding: 20px;
    justify-content:center; 
    align-items: center; 
    width: 100%; 
}

.route{
    position: fixed;
    font-weight: bold;
    font-size: 23px;
}

.firstRowAdd p{
    padding-left: 590px;
    cursor: pointer;
}

.partOfContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 30px 0px 22px;
}

.contentAddRow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.chooseLine{
    display: flex;
    gap: 17px;
}

.param{
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.param h3{
    color: #045952;
    font-size: 14px;
    font-weight: bold;
}

.param input{
    border: none;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 5px 15px;
    width: 178px;
    outline: none;
}

.buttonMainPage{
    background-color: #045952;
    border-radius: 20px;
    padding: 9px 7px 9px 7px ;
    border: transparent;
    color: white;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    max-width: 235px;
    width: auto;
    box-sizing: border-box; 
}


.stationForm{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 45px;
    padding: 5px 20px 30px 20px;
    position: relative;
}

.stationForm p {
    margin-left: 590px;
    margin-top: 5px;
}

.stationContent{
    display: flex;
    gap: 40px;
    width: auto;
    height: auto;
}

.addStation{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 45px;
    padding: 20px 25px;
    gap:40px;
}

.tableStation{
    width: 250px;
}

.tableStation th {
    width: 200px;
}
