.routes {
    flex-grow: 1; 
    text-align: center; 
    margin-left: -150px;
}

.stations {
    font-weight: bold;
    color: #045952;
    cursor: pointer;
    margin-bottom: -20px;
}

.rightPart{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.addToute{
    width: 650px;
    min-height: auto;
    background-color: #F6F6F6;
    border-radius: 45px;
    padding-bottom: 30px;
}

.route{
    position: fixed;
    font-weight: bold;
    font-size: 23px;
}

.partOfContent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 30px 0px 22px;
}

.contentAddRow{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stationForm{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 45px;
    padding: 5px 20px 30px 20px;
    position: relative;
}

.stationForm p {
    margin-left: 590px;
    margin-top: 5px;
}

.stationContent{
    display: flex;
    gap: 40px;
    width: auto;
    height: auto;
}

.addStation{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.12);
    border-radius: 45px;
    padding: 20px 25px;
    gap:40px;
}

.tableStation{
    width: 240px;
}

.tableStation th {
    width: 200px;
}
