
.box{
    display: flex;
    background-color: #f3f5f7;
    width: 800px;
    height: 100px;
    box-shadow: 4px 2px 5px -1px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 15px 20px;
    justify-content: center;
}

.chooseLine{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.buttonSearch{
    width: 100px;
    height: 40px;
    background-color: #FCEC9D; 
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 15px;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.buttonSearch:hover{
    transform: scale(1.03);
    transition: transform 0.1s ease; 
}

.resultOfSearch{
    display: flex;
    width: 1000px;
    height: 100px;
    flex-direction: column;
    gap: 20px;
}

.tableRoutes{
    width: 1000px;
    border: transparent; 
    border-radius: 15px;
}

.theadRoutes tr:first-child th:first-child {
    border-top-left-radius: 15px; 
}

.theadRoutes tr:first-child th:last-child {
    border-top-right-radius: 15px; 
}

